tqdm==4.67.1
brax==0.13.0
chex==0.1.91
distrax==0.1.7
flax==0.12.0
scipy==1.15.2
pandas==2.3.3
numpy==2.3.4
matplotlib==3.10.1
requests==2.32.5
huggingface-hub==0.33.4
gym==0.26.2
gym-notices==0.1.0
gymnasium==1.2.1
gymnax==0.0.9
jax==0.8.0
jaxlib==0.6.2
jaxopt==0.8.5
optax==0.2.6
